# Setando libs

In [17]:
import pandas as pd

# Setando dados

In [18]:
db = pd.read_csv("desafio1.csv")
estados_disponiveis = db["estado_residencia"].unique()

# Playground

# Separando dados por estado

In [21]:
db_by_state = {}
for estado in estados_disponiveis:
    db_by_state[estado] = db[db["estado_residencia"] == estado]

db_by_state['SC']

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
6,7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
8,9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6993,6994,4abefa8b416d1a633521dba183e34fefb2ece611,f8a2304458044e0b5a4852d672e99f004048a843,639,SC,F,35,1,103015.12,2,1,1
6994,6995,a934dfa54a92830fd2c33b533c26d499704a0f9f,b4b66826bb3faec194006ded5a732341cbc194f4,557,SC,F,24,4,0.00,1,0,0
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1